/* nav specialized to landing page */
.logo {
  background: url("../img/logo.png") no-repeat;
  background-size: contain;
  margin: 1rem 0 0 1rem;
  opacity: 0.3;
}

nav {
  background-color: var(--bg-color);
}

/* hero section */
.hero {
  text-align: center;
  background-color: var(--bg-color);
  padding: 2rem 0 10rem 0;
}

.hero__title {
  font-weight: 900;
  color: var(--primary-color);
}

.hero__description {
  margin: -1rem auto 2rem auto;
}

.hero__terminal {
  width: 60%;
  margin: -11rem auto auto auto;
  -webkit-animation: fadeUp 2s;
  animation: fadeUp 2s;
}

.hero__terminal img {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);
}

/* feature section */
.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feature__item {
  max-width: calc(33% - 20px);
  margin: 0 20px 0 0;
}

.feature__item .section__title {
  margin-bottom: 0;
  text-align: center;
}

.feature__item p {
  margin-top: 0.5rem;
  direction: rtl;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

/* callout section */
.callout {
  text-align: center;
  padding: 1rem 0 3rem 0;
}

.callout .button--primary {
  display: inline-block;
  margin-top: 0.5rem;
}

/* changelog section */
.changelog {
  background-color: var(--bg-color);
  padding: 2rem 0 0 0;
  font-family: "Nunito Sans", sans-serif;
}

.changelog .section__title,
.changelog .button--secondary {
  font-family: "Vazir FD", sans-serif;
}

.changelog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.changelog__item#first_changelog {
  border-bottom: none;
}

.changelog__meta {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

.changelog__meta small {
  color: var(--primary-color-light);
  font-weight: 200;
  letter-spacing: 1px;
}

.changelog__title {
  margin-bottom: 0;
}

.changelog__callout {
  margin: 3rem auto 2rem auto;
  text-align: center;
}

.changelog__detail ul li a {
  color: var(--accent-color-dark);
}

.iran {
  width: 100%;
  margin-bottom: -6px;
}

@media (max-width: 750px) {
  .hero__terminal {
    width: 70%;
  }
  .tab__container > ul {
    right: auto;
    left: 0;
    padding-left: 0;
  }
  .tab__container .code {
    margin-top: 2rem;
  }
  .feature,
  .keybinding,
  .changelog__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feature__item {
    max-width: 100%;
    margin: 0;
  }
  .keybinding {
    font-size: 0.8rem;
  }
}
